@charset "UTF-8";

@font-face {
    font-family: 'MontserratRegular';
    src: local("☺"), url("../fonts/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBlack';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueThin';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: local("☺"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

fieldset, img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

img {
    width: auto;
    height: auto;
}

html, body, .wrapper {
    min-height: 100% !important;

}

body {
    font-family: "HelveticaNeueLight";
    font-size: 14px;
    letter-spacing: 0.05em;
}

/*
div, span {
    outline: 1px solid darkturquoise;
}
*/

body {
    background-color: white;

}

.wrapper {

    width: 1170px;

    margin: auto;
    background-color: white;
}

/**/
.headOnTop {
    display: flex;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid #f0f2f7;

}

/**/
.hamburger {
    position: relative;
    float: left;
    display: inline-block;
    width: 20px;
    height: 14px;
    margin-right: 42px;

    transition: transform 0.9s ease;
    cursor: pointer;

}

.hamburger:hover {
    animation: tada 1s ease;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

#firstLine {

    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 2px;
    background-color: #3e425a;

    border-right: 1px solid #6b6e80;
    border-left: 1px solid #6b6e80;
}

#secondLine {

    display: block;
    position: absolute;
    top: 6px;
    left: 0px;
    width: 18px;
    height: 2px;
    background-color: #3e425a;

    border-right: 1px solid #6b6e80;
    border-left: 1px solid #6b6e80;
}

#thirdLine {

    display: block;
    position: absolute;
    top: 12px;
    left: 0px;
    width: 18px;
    height: 2px;
    background-color: #343e5c;

    border-right: 1px solid #6b6e80;
    border-left: 1px solid #6b6e80;
}

.firstFigure, .firstFigureAdded, .secondFigure, .thirdFigure {
    height: 90px;
    font-size: 12px;
}

.firstFigure {
    flex-basis: 18%;
    float: right;
    margin-left: 5px;
}

.firstFigureAdded {

    border-left: 1px solid #f0f2f7;
    float: right;
}

.firstFigureAdded img {
    padding-left: 34px;
}

.secondFigure {
    flex-basis: 57%
}

.thirdFigure {
    flex-basis: 25%
}

.hamburger {
    margin-top: 36px;
}

div.firstFigureAdded img {
    margin-top: 34px;
}

.secondFigure {
    text-align: center
}

.navbar {
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    color: #343e5c;
    font-size: 10px;
    letter-spacing: 0.03em;
    font-weight: 400;
    list-style-type: none;
    text-align: center;

}

.navbar ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/

}

.navbar a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: #343e5c;
    font-weight: 500;
}

.navbar li {
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;

    padding-top: 40px;

}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.navbar li:hover {
    color: #b9bed1;
    animation: 1s ease;
    transform-origin: top center;
    animation-name: swing;
}

#buttonOnTop2 {
    display: block;
    float: right;
    margin: 35px 5px 0px 0px;
    height: 30px;
    width: 84px;
    vertical-align: middle;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: transparent;
    color: #343e5c;
    border: 1px solid;
    border-color: #e3e8f0;
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -khtml-border-radius: 17px 17px 17px 17px;
}

#buttonOnTop2:hover {

    background: grey; /* Цвет фона */
    color: white;
    border: none;

    outline: none;
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
}

#buttonOnTop2:focus {

    background: lightgrey; /* Цвет фона */
    color: #3e425a;
    border: 1px solid white;
    outline: none;
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
}

.spanCart {
    display: block;
    position: relative;
    margin-top: 40px;
    float: left;

}

.spanCart:before {
    content: url("../img/ShoppingCartIcon.svg");
    position: relative;
    top: 3px;
    margin-right: 7px;
}

#imgBadge {
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-left: 8px;
    float: left;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background-color: #e3e8f0;
}

#imgBadge span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#underHeadOnTop {

    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    color: #b9bed1;
    font-size: 10px;
    letter-spacing: 0.03em;
    font-weight: 400;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid #f0f2f7;
    height: 56px;
}

#underHeadOnTop ul {
    float: left;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-top: 24px;
    padding-left: 0; /*убираем левый отступ, равный 40px*/

}

#underHeadOnTop a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: #b9bed1;
}

#underHeadOnTop li {
    display: inline-block;
    margin-right: 7px;
    margin-left: 7px;

    padding-top: 4px;
    transition: transform 0.5s ease;
}

#underHeadOnTop a:hover {
    color: #666e84;

}

.lookingFor, #imgSearch, .support {
    float: right
}

#imgSearch {
    margin-right: -20px;
    padding-top: 23px;
}

.lookingFor input {
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding-top: 22px;
    padding-left: 24px;
    color: #a7adc1;
    border: none;
    outline: none;
    font-weight: 400;
}

div#underHeadOnTop ul {
    margin-left: 110px;
}

div#underHeadOnTop div.support {

    margin-right: 20px;
    padding-right: 30px;
    border-right: 1px solid #f0f2f7;
    height: 32px;
    padding-top: 24px;
}

.slider {
    width: 100%;
    max-width: 100%;
    margin: 100px auto;

}

div.slider.slick-initialized.slick-slider.slick-dotted {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 100% !important;
}

html body div.wrapper div.slider.slick-initialized.slick-slider.slick-dotted div.slick-list.draggable {
    width: 100% !important;
}

.slick-slide {
    margin: 0px 20px;
    position: relative;
}

.slick-slide img {
    width: 100%;
}

div.slick-track div.slick-slide {
    margin: 0
}

.slick-dots li button::before {

    content: '○' !important;
    font-size: 18px !important;
    color: snow;
    font-weight: 900;
}

.slick-dots li.slick-active button::before {
    content: '●' !important;
    opacity: .99;
    color: white !important;
    font-size: 18px !important;

}

div.slider {
    position: relative !important;
}

div.slider.slick-initialized.slick-slider.slick-dotted .slick-arrow {
    display: block !important;
    position: absolute !important;
    top: 45%;
    right: 5%;
}

div.slider.slick-initialized.slick-slider.slick-dotted ul.slick-dots {
    position: absolute !important;
    top: 90%;
}

.arrow-slider {
    z-index: 22;
    position: absolute;
    top: 200px;
    right: 70px;
    width: 25px;
}

.menu-in-middle {
    display: flex;

    justify-content: space-between;
}

.wrapper-main-items {
    display: flex;

}

.main-items-right {
    flex-basis: 75%;
    height: 300px;

}

.main-items-left {
    flex-basis: 25%;
    height: 300px;

}

.inside {
    z-index: 33;
    position: absolute;
    top: 100px;
    left: 120px;
    width: 470px;
    line-height: 1.4;
    font-family: 'CrimsonText-Roman', serif;
    font-size: 12pt;
    color: #c2c3c4;

    /*text-shadow: -1px -1px 0 #343e5c,
    1px -1px 0 #343e5c,
    -1px 1px 0 #343e5c,
    1px 1px 0 #343e5c;
*/
}

.inside-title {
    z-index: 33;
    font-family: 'Montserrat-Black', Arial, Helvetica, sans-serif;
    background-color: transparent;
    width: 370px;
    line-height: 0.9;
    font-size: 28pt;
    font-weight: 900;
    color: #ffffff;
    display: block;
    margin-bottom: 30px;
}

.button-inside {
    display: block;
    position: absolute;
    top: 210px;
    left: 0px;
    height: 40px;
    width: 160px;
    vertical-align: middle;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #2754eb;
    color: white;
    border: 1px solid #2754eb;

    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -khtml-border-radius: 17px 17px 17px 17px;
}

.button-inside:hover {

    background: grey; /* Цвет фона */
    color: white;
    border: 1px solid #343e5c;

    outline: none;
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
}

.button-inside:focus {

    background: lightgrey; /* Цвет фона */
    color: #3e425a;
    border: 1px solid #6b6e80;
    outline: none;
    border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 17px 17px 17px 17px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 17px 17px 17px 17px; /*закругление углов (Safari)*/
}

.menu-in-middle {
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #b8bdcd;
    /* Выравниваем по центру по вертикали контент в этом div */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;

}

div.option-block {
    text-align: right;
    height: 50px;
    border-right: 1px solid #b9bed1;
    padding-right: 10px;
    /* Выравниваем по центру по вертикали контент в этом div */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.option-block form p select {

    color: #404966;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    font-size: 12pt;

    border: none;
    width: 120px;

    -webkit-appearance: none;
    background-image: url('../img/openIcon.png');
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
}

select::-ms-expand {
    display: none;
}

.menu-in-middle div {
    margin-left: 10px;
}

div.menu-in-middle div input {
    color: #c0c5d7;
    padding-left: 10px;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    border: none;
    background-color: transparent
}

div.menu-in-middle div.input-div {
    border: 1px solid #e3e8f0;
    background-color: #f0f2f7;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

.for-price {
    margin-left: 0 !important;
    width: 60px !important;
}

.for-price input, .for-price input:focus {
    width: 50px;
    border: none;
    border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
}

.option-block-right.option-block {
    border-right: none;

    padding-right: none;
}

#left-in-middle {
    border-left: 1px solid #b9bed1;
    height: 50px;
    /* Выравниваем по центру по вертикали контент в этом div */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
}

div.option-block.option-block-right form p select {
    width: 70px
}

.grey-backgrounded-wrapper {
    background-color: #e4e5e7;
    padding: 50px 10px 50px 10px
}

.class-for-rounded-divs {
    border-radius: 10px;
}

.white-background {
    background-color: #fff
}

.transparent {
    background-color: transparent;
}

.wrapper-main-items {
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-items-left {
    margin-right: 30px
}

/*.main-items-left, .main-items-right {
    border: 1px solid mediumvioletred;
}*/

.main-items-right {
    height: 1600px
}

.main-items-left {
    height: 1220px
}

.paginator {
    height: 90px
}

.best-sellers {
    height: 400px;
    margin-top: 50px;
}

.footer {
    height: 420px;
}

.bottom-footer {
    height: 420px;
    background-color: #222328;
    color: #fff
}

div.divs-inside-items-left:nth-child(1) {

    margin-bottom: 20px;
}

div.divs-inside-items-left:nth-child(2) {
    min-height: 360px;
    margin-bottom: 20px;
}

div.divs-inside-items-left:nth-child(3) {
    min-height: 260px;
    margin-bottom: 20px;
}

div.divs-inside-items-left:nth-child(4) {
    min-height: 100px;
}

nav.right {
    color: black;

    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: auto;
    width: auto;

}

nav.right {
    border-radius: 10px !important;
}

div.menu-item:nth-child(4) {
    border-radius: 10px !important;
}

div.menu-item:nth-child(1), nav.right div.menu-item.alpha {
    border-radius: 10px !important;
}

div.menu-item:nth-child(4) > ul:nth-child(2) > li:nth-child(3) {
    border-radius: 10px !important;
}

div.menu-item:nth-child(4) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu-item {
    background: transparent;
    width: auto;
}

.menu-item h4 a {
    color: black;
    display: block;
    text-decoration: none;
    width: auto;
}

/*Menu Header Styles*/

.menu-item h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    color: black;
    font-size: 12px;
    font-weight: 800;
    padding: 7px 25px;
    background: #fff url('../img/iconOpenMainMenu.png') 90% 50% no-repeat;

}

div.menu-item:nth-child(1) > h4:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-item h4:hover {
    background: #e3e8f0 url('../img/iconOpenedMainMenu.png') 90% 50% no-repeat;
}

div.menu-item:nth-child(1) > h4:nth-child(1):hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.menu-item:nth-child(5) > h4:nth-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.menu-item:nth-child(5) > h4:nth-child(1):hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

div.menu-item:nth-child(5) > ul:nth-child(2) > li:nth-child(3) > a:nth-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.menu-item:nth-child(5) > ul:nth-child(2) > li:nth-child(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.menu-item:nth-child(5) > ul {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.menu-item:nth-child(5) > ul a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.menu-item:nth-child(5) > ul li:nth-child(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.menu-item:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*ul Styles*/
.menu-item ul {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
}

.menu-item ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #aaa;
    display: block;
    width: auto;
}

/*li Styles*/
.menu-item li {
    border-bottom: 1px solid #eee;
}

.menu-item li:hover {
    background: cadetblue;
}

.menu-item ul {
    background: dimgrey;
    font-size: 13px;
    line-height: 30px;
    height: 0px; /*Collapses the menu*/
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
}

/*ul Styles*/
.menu-item ul {
    background: #f0f2f7; /*цвет фона выпавшего ul*/
    font-size: 13px;
    line-height: 30px;
    height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;

    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover ul {
    height: 93px;
}

div.menu-item:nth-child(3):hover ul {
    height: 155px;
}

/*каждая выпадающая строка - 31 пиксель, потому тут 93+31+31, тут 5 строк выпадет*/

div.menu-item:nth-child(2):hover ul {
    height: 62px;
}

/*  тут 2 строк выпадет*/

div.menu-item:nth-child(4):hover ul {
    height: 124px;
}

/*  тут 2 строк выпадет*/

.main-items-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.divs-inside-items-right {
    flex-basis: 31%;
    /* на пробел остается 100-96=4%
               пробелы соотносятся 0.5 1 1 0.5
               т.е. 1 пробел - это 4%/3
               */
    height: 370px
}

.double {
    flex-basis: 65.44%;
    /*  двойной блок скрадывает 1 пробел, потому
               добавляем 1 пробел - это 31%+31%+3.44%
               */

}

div.divs-inside-items-right {
    text-align: center;
    color: #1c1e23;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

/*
div.divs-inside-items-right > div {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;

}
*/
div.wrapper-main-items > div.main-items-right.class-for-rounded-divs > div > div {
    width: 100%
}

div.wrapper-main-items > div.main-items-right.class-for-rounded-divs > div img {
    margin-top: 2px;
    max-width: 90%;
}

div.forImage {
    height: 230px;
}

/*
div.title-name {max-width: 90%;}
*/
/*  расстояния между подписями под товаром и цвета надписей */
div.divs-inside-items-right.class-for-rounded-divs.white-background div.title-name {
    margin-top: 30px;
    margin-bottom: 10px;
}

div.divs-inside-items-right.class-for-rounded-divs.white-background div.title-name.title-to-top {
    margin-top: 20px !important;
}

div.divs-inside-items-right.class-for-rounded-divs.white-background div.title-color {
    color: #b8bfd3
}

div.divs-inside-items-right.class-for-rounded-divs.white-background div.title-price {
    margin-top: 10px;
    color: #343e5c;
}

/* определяем особенности размещения текста в двойном блоке  */

div.divs-inside-items-right.class-for-rounded-divs.white-background.double > div.forImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.double {

    text-align: left;

}

/*выравниваем по центру горизонтально и вертикально*/
.forImage {
    position: relative
}

div.forImage > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.double img {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    transform: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.class-for-rounded-divs {
    position: relative
}

/*контейнербудет  ресайзиться в результате ресайза окна*/

.full-backgrounded {
    overflow: hidden;
    position: relative;
}

.inside-full-backgrounded {
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 10px;

    display: flex;

    justify-content: center;
    align-items: center;

    overflow: hidden;

    position: relative;

    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
}

.inside-full-backgrounded img {
    max-width: none !important;
    margin: 0 !important;
    min-width: 100%;

    min-height: 100%;
    max-height: none;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.full-backgrounded div.title-name {
    position: absolute;
    top: 10px;
    line-height: 20px;
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.full-backgrounded div.title-color {
    position: absolute;
    top: 50px;
    line-height: 30px;
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.full-backgrounded div.title-price {
    position: absolute;
    top: 80px;
    line-height: 30px;
}

/* элемент над ним - абсолютно позиционированный, потом марджином выравниваем*/
div.divs-inside-items-right.class-for-rounded-divs.white-background.double div.title-name {
    margin-top: 260px;
    margin-bottom: 10px;
    padding-left: 20px;
    line-height: 1.5;
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.double .black-price,
div.divs-inside-items-right.class-for-rounded-divs.white-background.double .buy-now {
    position: absolute
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.double .black-price {
    top: 20px;
    left: 30px;
    background-color: black;
    color: white;
    font-size: 9px;
    text-align: center;
    line-height: 2.21;
    width: 40px;
    height: 20px;
    border-radius: 5px;
}

div.divs-inside-items-right.class-for-rounded-divs.white-background.double .buy-now {
    top: 320px;
    left: 310px;
    background-color: transparent;
    color: #464b65;
    font-size: 12px;
    text-align: center;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    line-height: 2.7;
    width: 220px;
    height: 32px;
    border: 2px solid #f0f2f7;
    border-radius: 25px;
}

.class-for-rounded-divs.white-background.double div.title-color {
    margin-top: 10px;
    margin-left: 20px;
}

.half-div-right {
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /*чтобы свойство width задавало не ширину содержания, а общую ширину.*/

    width: 50%;
    border-right: 1px solid #f0f2f7;
    height: 100%;
}

.half-div-left {
    float: right;
    width: calc(50% - 1px);
    /*иное решение вместо box-sizing: border-box; О
                                операторы + и - всегда должны быть отеделены пробелом*/

    border-left: 1px solid #f0f2f7;
    height: 100%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.half-div-left:hover {
    background-color: #b9bed1;
    color: whitesmoke;
}

/*стили для левой колонки, второй сверху*/

div.divs-inside-items-left-firstlevel.class-for-rounded-divs.white-background,
div.divs-inside-items-left-secondlevel.class-for-rounded-divs.white-background,
div.divs-inside-items-left-thirdlevel.class-for-rounded-divs.white-background {
    margin-bottom: 30px;
}

.inner-divs-inside-items-left-firstlevel.level1, .inner-divs-inside-items-left-firstlevel.level3 {
    height: 50px;
}

.inner-divs-inside-items-left-firstlevel.level2 {
    height: 90px;
}

.inner-divs-inside-items-left-firstlevel.level4 {
    height: 180px;
}

.inner-divs-inside-items-left-firstlevel.level1, .inner-divs-inside-items-left-firstlevel.level2 {
    border-bottom: 1px solid #f0f2f7;
}

.inner-divs-inside-items-left-firstlevel.level4 {
    border-top: 1px solid #f0f2f7;
}

.inner-divs-inside-items-left-secondlevel.level1, .inner-divs-inside-items-left-thirdlevel.level1 {
    height: 45px;
    border-bottom: 1px solid #f0f2f7;
}

.inner-divs-inside-items-left-secondlevel.level2 {
    min-height: 225px;
}

.inner-divs-inside-items-left-thirdlevel.level2 {
    height: 45px;
}

.half-column1 {
    float: left;
    width: calc(75% - 25px);
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    text-align: left;
    padding-left: 25px;
}

.half-column2 {
    float: right;
    width: calc(25% - 20px);
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
}

.half-column1.on-the-bottom {
    width: calc(65% - 25px);

}

.half-column2.on-the-bottom {
    width: calc(35% - 20px);
}

.half-column1.most-bottomed, .half-column2.most-bottomed {
    box-sizing: border-box;
    width: 50%;
    text-align: left;
    padding: 0 0 0 20px !important;
}

.half-column1.most-bottomed {
    border-right: 1px solid #f0f2f7;
}

.inner-divs-inside-items-left-firstlevel.level1, .inner-divs-inside-items-left-thirdlevel.level1 {
    padding-left: 25px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    text-align: left;
}

half-column1.on-the-bottom-end {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    text-align: left;
    padding: 0 0 0 20px !important;
}

/*стилизация радиобатонов*/

/*radio butons*/

@import url(https://fonts.googleapis.com/css?family=Roboto);
@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
    }
    50% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
    }
}

.md-radio {
    margin: 0;
    display: inline-block;
    line-height: 20px !important;
}

.md-radio.md-radio-inline {
    display: inline-block;
}

.md-radio input[type="radio"] {
    display: none;
}

.md-radio input[type="radio"]:checked + label:before {
    border-color: #e4e8f0;
    animation: ripple 0.2s linear forwards;
}

.md-radio input[type="radio"]:checked + label:after {
    transform: scale(1);
}

.md-radio label {
    display: inline-block;
    height: 20px;
    position: relative;
    padding: 0 30px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: bottom;
}

.md-radio label:before, .md-radio label:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    transition: all 0.3s ease;
    transition-property: transform, border-color;
}

.md-radio label:before {
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #e4e8f0;
}

.md-radio label:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: scale(0);
    background: #00deea;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    position: relative;

}

/* Скрываем оригинальный чекбокс. */
.checkbox__input {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
}

/* Стили для лейбла. */
.checkbox__label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    cursor: pointer;
    line-height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 28px;
}

/* Стили для чекбокса. */
.checkbox__label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    margin: 3px;
    border: 2px #e4e8f0 solid;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Стили для выключенного чекбокса.
   Галочка вставляется с помощью маски, что позволяет быть ей прозрачной,
   для браузеров не поддерживающих  свойство mask
   будет отображаться в виде бэкграунда. */
.checkbox__input:checked ~ .checkbox__label:before {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K");
    background-color: #00e2aa;
    border-color: #00e2aa;

    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxIDEiPjx0aXRsZT51bnRpdGxlZDwvdGl0bGU+PHBhdGggZD0iTTAsMFYxSDFWMEgwWk0wLjQ1LDAuNzRsLTAuMDguMDhMMC4yOCwwLjc0LDAuMTQsMC42bDAuMDgtLjA4TDAuMzYsMC42NWwwLjQxLS40MUwwLjg2LDAuMzJaIi8+PC9zdmc+");
}

/* Стили для отключенного(disabled) чекбокса. */
.checkbox__input:disabled ~ .checkbox__label {
    color: #343e5c;
}

.checkbox__input:disabled ~ .checkbox__label:before {
    border-color: rgba(0, 0, 0, 0.26);
}

.checkbox__input:checked:disabled ~ .checkbox__label:before {
    background-color: rgba(0, 0, 0, 0.26);
    background-clip: padding-box;
}

/*  эффект при клике */

.checkbox__label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.checkbox__input:focus ~ .checkbox__label:after {
    -webkit-animation: click-wave .5s;
    animation: click-wave .5s;

}

.checkbox__input:checked ~ .checkbox__label:after {
    background-color: #2196F3;
}

.checkbox__input:not(:checked) ~ .checkbox__label:after {
    background-color: #000;
}

@-webkit-keyframes click-wave {
    0% {
        width: 24px;
        height: 24px;
        opacity: 0.5;
    }
    100% {
        width: 48px;
        height: 48px;
        margin-left: -12px;
        margin-top: -12px;
        opacity: 0.0;
    }
}

@keyframes click-wave {
    0% {
        width: 24px;
        height: 24px;
        opacity: 0.5;
    }
    100% {
        width: 48px;
        height: 48px;
        margin-left: -12px;
        margin-top: -12px;
        opacity: 0.0;
    }
}

.checkbox__label.top-checkbox:before {
    -webkit-border-radius: 100% !important;
    border-radius: 100% !important;
    width: 20px;
    height: 20px;
}

.paginator { /* Выравниваем по центру по вертикали контент в этом div */
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
}

.inside-paginator {
    width: 100%;
    text-align: center;
}

.paginator .inside-paginator > a.paginator_href_a {
    text-decoration: none;
    line-height: 1.4;
    padding: 15px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.paginator .inside-paginator > a.paginator_href_a:hover {
    background: transparent url('../img/background-page.png') 50% 50% no-repeat;

}

.paginator img.left-img {
    text-decoration: none;
    margin-right: 20%;

}

.paginator img.right-img {
    text-decoration: none;
    margin-left: 20%;
}

.paginator a.on-edge {
    opacity: 0.5;
}

.paginator a.on-edge:hover {
    opacity: 1;
}

.best-sellers {
    text-align: center;
    color: #1c1e23;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.on-top-of-best-sellers {
    height: 10%;

    /*выравниваем по центру*/
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.on-bottom-of-best-sellers {
    height: 90%;
    border-top: 1px solid #f0f2f7;

}

div.inside-on-bottom-of-best-sellers:nth-child(1) {
    background: #fff url('../img/beanie.png') center 20% no-repeat;
    border-right: 1px solid #f0f2f7;
    border-bottom-left-radius: 25px;

}

div.inside-on-bottom-of-best-sellers:nth-child(2) {
    background: #fff url('../img/TShirt.png') center 20% no-repeat;
    border-right: 1px solid #f0f2f7;
}

div.inside-on-bottom-of-best-sellers:nth-child(3) {
    background: #fff url('../img/pileLined.png') center 20% no-repeat;
    border-right: 1px solid #f0f2f7;

}

div.inside-on-bottom-of-best-sellers:nth-child(4) {
    background: #fff url('../img/trainers.png') center 20% no-repeat;
    border-bottom-right-radius: 25px;
}

.inside-on-bottom-of-best-sellers {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    float: left;

}

.on-bottom-of-best-sellers div.title-name {
    margin-top: 240px;
    margin-bottom: 10px;
}

.title-color {
    color: #b8bfd3
}

.on-bottom-of-best-sellers div.title-price {
    margin-top: 10px;
    color: #343e5c;
}

.line-through {
    text-decoration: line-through;
}

.title-color {
    text-transform: uppercase;
}

.inside-topdiv-in-footer {
    height: 25%;

}

.inside-bottomdiv-in-footer {
    height: calc(75% - 40px);
}

.footer.white-background {
    text-align: center;
    color: #1c1e23;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.inside-bottomdiv-in-footer {
    display: flex;
    justify-content: space-between;
    margin: 40px 50px 0 50px;
    line-height: 1.5;
}

.in-inside-bottomdiv-in-footer {
    flex-basis: 33.33%;
    font-family: 'CrimsonText-Roman', serif;

}

.face-float {
    float: left;
    border-radius: 100%;
}

.title-float {
    float: left;
    margin-left: 10px;
    text-align: left;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
}

.text-in-inside-bottomdiv-in-footer {
    margin-top: 70px;
    margin-right: 40px;
    text-align: left;
}

.ital.greyed {
    color: #b9bed1;
    font-style: italic;
    font-family: 'CrimsonText-Roman', serif;
}

.inside-topdiv-in-footer {

    font-family: 'Montserrat-Black', Arial, Helvetica, sans-serif;
    font-size: 28pt;
    font-weight: 800;
    /*выравниваем по центру*/
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inside-topdiv-in-footer > div:nth-child(1) > p:nth-child(2) {
    font-family: 'CrimsonText-Roman', serif;
    font-size: 14pt;
    font-weight: 400;
}

.top-half-of-bottom-footer {
    height: 50%;
    width: 90%;
    margin: 0 auto;

    /*выравниваем по центру*/
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f0f2f7
}

.top-half-of-bottom-footer .one-of-three {
    flex-basis: 33.33%;
}

.top-half-of-bottom-footer .one-of-three:nth-child(1) {
    text-align: left
}

.top-half-of-bottom-footer .one-of-three:nth-child(3) {
    text-align: right
}

.on-bottom {
    padding-top: 0px !important;
    color: #fff !important;
}

.on-bottom li {
    padding-top: 0px !important;
}

ul.navbar.on-bottom li a {
    color: #fff !important;
}

img.icon-social {
    margin-left: 26px;
}

.bottom-half-of-bottom-footer {
    height: 50%;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #2d2e33;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    color: #f0f2f7
}

.one-of-two {
    flex-basis: 50%;

    margin-top: 120px;
    color: #7c7c7e;
}

div.one-of-two:nth-child(1) {
    font-family: 'CrimsonText-Italic', serif !important;
    font-style: italic;
}

div.one-of-two:nth-child(2) > p:nth-child(1) {
    margin-top: 20px;
}

div.one-of-two:nth-child(2) > p:nth-child(1) a {
    text-decoration: none;
    color: #7c7c7e;
    margin-left: 25px;
}

.inside-footer-a {
    text-transform: uppercase;
}

.main-menu {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
    border: 1px solid #e5e5e5;
}

.main-menu a:hover {
    background: #f5f5f5;
}

.main-menu > li {
}

/* Подменю */

.main-menu .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fcf8e3;
}

.shape52 {
    opacity: 0.8;
    display: inline-block !important;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: transparent;
    border: calc(30px / 15) solid #4a4b4f;
    box-sizing: content-box;
    transition: all 750ms;
    -o-transition: all 750ms;
    -moz-transition: all 750ms;
    -webkit-transition: all 750ms;
}

.shape52:before {
    opacity: 0.7;
    position: absolute;
    content: '';
    margin: auto;
    width: calc(30px / 3.5);
    height: calc(30px / 3.5);
    background: transparent;
    border: calc(30px / 15) solid #fffffd;
    border-right: none;
    border-top: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(30px / 8);
    transform: rotate(-135deg);
    box-sizing: content-box;
    transition: all 750ms;
    -o-transition: all 750ms;
    -moz-transition: all 750ms;
    -webkit-transition: all 750ms;

}

.shape52:hover {
    opacity: 1.0 !important;
    border-color: #2754eb !important;
    transition: all 1750ms;
    -o-transition: all 1750ms;
    -moz-transition: all 1750ms;
    -webkit-transition: all 1750ms;
}

.shape52:hover:before {
    border-color: linen !important;
    transition: all 1750ms;
    -o-transition: all 1750ms;
    -moz-transition: all 1750ms;
    -webkit-transition: all 1750ms;
}